<h1>Hi! Please confirm your email!</h1>

<p>
    Por favor confirma tu dirección de correo haciendo click en el siguiente enlace: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmar mi Email</a>.
    Este link expirará en {{ expiresAt|date('g') }} hora(s).
</p>

<p>
    Cheers!
</p>
