button.estiloboton{
    background-color: #5768AD !important;
    color: white;
}

ul.list{
    max-height: 300px;
    overflow-y: scroll !important;
}

#auComplete{
    width: 100% !important;
}

.nice-select{
    width: 100%;
}

.formato {
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    height: 40px;
    padding-left: 15px;
}

.col-12.textopista {
    font-size: 25px;
    color:#5768ad;
}

input[type=checkbox], input[type=radio] {
    margin: 4px -16px 0 !important;
    margin-top: 1px\9;
    line-height: normal;
}