{% extends 'base.html.twig' %}

{% block title %}Hello WebController!
{% endblock %}

{% block body %}
	{% include "section/section.html.twig" with {'descripcion':'Listado de Clubs'} %}
		<div class="container p-5">
			<div class="row">
				{% for club in clubs %}
					<div class="col-lg-4 col-md-6">
						<div class="classes__item classes__item__page">
							<div class="classes__item__pic set-bg" data-setbg="https://www.noticiasparamunicipios.com/wp-content/uploads/2020/01/inacua-1280x720.jpg">
								<span>Foto</span>
							</div>
							<div class="classes__item__text">
								<ul>
									<li>
										<span class="icon_calendar"></span>
										{{ club.nomres }}</li>
									<li>
										<span class="icon_clock_alt"></span>
										{{ club.nomclub }}</li>
									<li>
										<span class="icon_clock_alt"></span>
										{{ club.web }}</li>
								</ul>
								{# <h4>
									<a href="#">100 Hour Yoga Course Rishikesh</a>
								</h4> 
								<h6>Jordan Lawson
									<span>- Yoga Teacher</span>
								</h6> #}
                                <a href="{{ path('detalles_club', {'id': club.id}) }}" class="class-btn">Detalle</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
