<form method="post" action="{{ path('pista_delete', {'id': pistum.id}) }}" onsubmit="return confirm('¿Desea eliminar?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pistum.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
</form>
