{% extends 'base.html.twig' %}

{% block title %}Edit Pista{% endblock %}

{% block body %}
{% include "section/section.html.twig" with {'descripcion':'Pista'} %}
    <h1>Editar Pista</h1>

    {{ include('pista/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pista_index') }}">back to list</a>

    {{ include('pista/_delete_form.html.twig') }}
{% endblock %}
