{% extends 'base.html.twig' %}

{% block title %}Edit Club{% endblock %}

{% block body %}
{% include "section/section.html.twig" with {'descripcion':'Club'} %}
    <h1>Edit Club</h1>

    {{ include('club/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('club_index') }}">back to list</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
