{% extends 'base.html.twig' %}

{% block title %}Edit Tipo{% endblock %}

{% block body %}
{% include "section/section.html.twig" with {'descripcion':'Tipo Pista'} %}

    <div class="container-fluid p-5">
    <h1 class="text-center">Editar Tipo</h1>
        <div class="row justify-content-center">
            <div class="col-4">
            <div class="classes__item__text">
                {{ include('tipo/_form.html.twig', {'button_label': 'Actualizar'}) }}
                {# {{ include('tipo/_delete_form.html.twig') }} #}
                <a href="{{ path('tipo_index') }}" class="class-btn mt-2">Volver al listado</a>
                
            </div>
            </div>
        </div>
    </div>
    
{% endblock %}
